@charset "utf-8";

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #ffd1b3;
        }
        
        html {
            height: 100%;
            margin: 0;
             padding: 0;
          }
        
        body {
            background-image: linear-gradient(to bottom, #d7a185 50%,#ffd1b3 100%);
            background-position: bottom;
            background-repeat: no-repeat;
            background-attachment: scroll;
        }
        
        header{
          background-color: #ae7156;
            margin-top: 7px;
            border-radius: 7px;
            width: 90vw;
            margin: auto;
            text-align: center;
        }
        
        main{
            background-color: #d7a185;
            margin-top: 7px;
            border-radius: 11px;
            width: 90vw;
            margin: auto;
            text-align: center;
            padding: 30px;
        }
    
        article>h2{
            color:#ffd1b3;
          }
          
          article>p {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 20px;
            font-style: oblique;
            font-weight: 700;
            color: rgb(94, 58, 15);
            text-align: justify;
            text-indent: 30px;
            font-family: 'Times New Roman';
            font-weight: 300;
            text-align: left;
            margin-bottom: 10px;
        
          }
          
          
          footer{
            background-color: #d7a185;
            text-align: center;
            border-radius: 0px 0px 7px 7px;
            width: 90vw;
            padding: 7px;
            margin: auto;
            margin-bottom: 400px;
            text-indent: 10px;
        
            }
            
            header>h1 {
            
              text-align: center;
              color: #b44907 ;
              padding: 1px;
              text-shadow:#ae7156 1px 1px 10px;
              margin-top: 0px;
              background-color:#d39f85;
              align-items: end;
            }